body{
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#dff1ff;
  font-family:Arial;
}

.box{
  background:white;
  padding:20px;
  width:300px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
  width:90%;
  padding:8px;
  margin-bottom:10px;
  border-radius:5px;
  border:1px solid #aaa;
}

button{
  width:95%;
  padding:10px;
  background:#0077ff;
  border:none;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

button:hover{
  background:#005fcc;
}

#result{
  margin-top:15px;
  font-size:16px;
}
